/*  your css code here. If applicable */
.main-container{
	background-color:lightgray;
	width:200px;
	height:70px;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:5px;
	border:2px solid black;
	border-radius:10px;
	padding:5px;
}
.green{
	background-color:green;
	width:30px;
	height:30px;
	border-radius:50%;
	padding:5px
}
.yellow{
	background-color:yellow;
	width:30px;
	height:30px;
	border-radius:50%;
	padding:5px;
}
.red{
	background-color:red;
	width:30px;
	height:30px;
	border-radius:50%;
	padding:5px
}